run = "pnpm start"
entrypoint = "index.ts"

[modules]
nodeBundle = true

[nix]
channel = "stable-24.05"

[unitTest]
language = "typescript"

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "start"]
build = ["pnpm", "run", "build"]
