run = "npm start"
entrypoint = "index.ts"

[modules]
nodeBundle = true

[nix]
channel = "stable-24.05"

[unitTest]
language = "typescript"

[deployment]
run = ["npm", "start"]
build = ["npm", "run", "build"]
